.THIS .backcolor {
    width: 564px;
    color: black;
}

.THIS .backgroundcc {
    background: white;
}

.THIS .formwrapper{
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}

.THIS .formactions{
    padding: 12px 16px;
    background: #f3f3f3;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .gridgap-5px{
    gap: 5px;
}

/* Calender List Tabs Flex */
.THIS .button-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 90%;
    margin: 5px auto;
    white-space: pre;
}

.THIS .button-flex span {
    overflow: visible;
}

.THIS .button-outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    font-weight: 700;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 5px;
    max-height: 35px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.THIS .button-outline.active {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}

.THIS .button-outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}

.THIS .text-white {
    color: white;
}

.THIS .fw-700 {
    font-weight: 700;
}